@import url(../../node_modules/normalize.css/normalize.css);

:root {
  --container-size: 1110px;
  --container-gutter: 40px;
  --gutter: 30px;
  --outer-margin: 150px;
}

/** colors **/

/** sizes **/

/* open-sans-300 - latin_cyrillic */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-v17-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin_cyrillic */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin_cyrillic */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v17-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin_cyrillic */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v17-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin_cyrillic */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v17-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-condensed-300 - latin_cyrillic */

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Condensed Light"), local("OpenSansCondensed-Light"), url("../fonts/open-sans-condensed-v14-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-condensed-v14-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-condensed-700 - latin_cyrillic */

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"), local("OpenSansCondensed-Bold"), url("../fonts/open-sans-condensed-v14-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-condensed-v14-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-armchair {
  font-size: 7rem;
  width: 1em;
}

.icon-arrow-next {
  font-size: 1.6rem;
  width: 2.5625em;
}

.icon-arrow-prev {
  font-size: 1.6rem;
  width: 2.5625em;
}

.icon-fb {
  font-size: 2.6rem;
  width: 0.57692em;
}

.icon-gazprom {
  font-size: 9.6rem;
  width: 2.08333em;
}

.icon-insta {
  font-size: 2.6rem;
  width: 1em;
}

.icon-search {
  font-size: 3rem;
  width: 1em;
}

.icon-star {
  font-size: 2.4rem;
  width: 1.08333em;
}

.icon-theater {
  font-size: 6.6rem;
  width: 1.06061em;
}

.icon-vk {
  font-size: 1.4rem;
  width: 1.85714em;
}

.icon-yt {
  font-size: 1.8rem;
  width: 1.44444em;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans Condensed";
  line-height: 1.4;
  text-rendering: optimizeSpeed;
  color: #fff;
}

.wrapper {
  position: relative;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 1.8rem;
  background-color: #d1a954;
  color: #fff;
  padding: 1.5rem 2.6em;
  text-transform: uppercase;
  align-self: flex-start;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.container {
  max-width: var(--container-size);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
}

.svg-clear-off {
  display: none;
}

img {
  max-width: 100%;
}

.content {
  background-color: #333;
}

.title-section {
  margin-bottom: 10rem;
  text-align: center;
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .1em;
}

.title-section_accent {
  color: #d1a954;
}

.trans-opacity,
.projects-card__content {
  transition: opacity .3s ease;
}

.trans-all,
.mobile-menu-socials__link,
.projects-card__search,
.projects-card__picture::after {
  transition: all .2s ease-in-out;
}

.border {
  border: 1px solid currentColor;
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  padding-top: 5rem;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__number {
  align-self: center;
}

.header__btn-menu {
  display: none;
  padding: 7px 10px;
  cursor: pointer;
}

.nav {
  flex-grow: 1;
  max-width: 824px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__link {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  letter-spacing: .1em;
  white-space: nowrap;
}

.footer {
  background-color: #333;
}

.footer__inner {
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #565656;
}

.footer__copy,
.footer__dev {
  font-family: 'Open Sans';
  font-size: 1.2rem;
  color: #989898;
}

.number {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  word-wrap: normal;
  border-bottom: 0.2rem solid #d1a954;
  letter-spacing: .05em;
}

.hero {
  position: relative;
  margin-bottom: var(--outer-margin);
  background-image: url("../img/hero-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__col {
  display: flex;
  flex-flow: column nowrap;
}

.hero__col_text {
  max-width: 54rem;
  margin-right: 2rem;
}

.hero__col_slide {
  max-width: 370px;
}

.hero__title {
  font-size: 6.4rem;
  text-transform: uppercase;
  line-height: 1;
}

.hero__description {
  font-size: 1.4rem;
  font-family: 'Open Sans';
  margin-bottom: 5rem;
  line-height: 1.5;
}

.hero__swiper-container {
  max-width: inherit;
}

.hero__swiper-wrapper {
  margin-bottom: 5.5rem;
}

.hero__swiper-slide {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.hero__img-wrp {
  position: relative;
  align-self: center;
  padding-right: 2rem;
}

.hero__img-wrp::after {
  content: '';
  display: block;
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: -1;
  width: 350px;
  height: 490px;
  background: linear-gradient(rgba(209, 169, 84, 0.8), rgba(209, 169, 84, 0.8)), url("../img/content/promo.png");
  background-size: auto;
}

.hero__nav {
  display: flex;
  justify-content: space-between;
}

.hero__nav-btn {
  display: flex;
  align-items: center;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero__icon-prev {
  margin-right: 2.5rem;
  order: -1;
}

.hero__icon-next {
  margin-left: 2.5rem;
}

.fixed-panel {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  padding-left: 6.2rem;
  padding-right: 6.2rem;
  padding-bottom: 8.6rem;
  background-color: rgba(51, 51, 51, 0.75);
  transition: .5s transform ease;
}

.fixed-panel > *:not(:last-child) {
  margin-bottom: 4rem;
}

.fixed-panel__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: #c4c4c4;
}

.fixed-panel__sep {
  display: block;
  display: block;
  height: 8rem;
  width: .3rem;
  background-color: #fff;
  content: '';
  background-color: currentColor;
}

.fixed-panel .socials__item {
  margin: 1.5rem 0;
}

.mobile-menu {
  --socials-bar: 1.5;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  transform: translateX(-100%);
  background-color: #333;
  transition: .3s transform ease-in-out;
}

.mobile-menu_open {
  transform: translateX(0);
}

.mobile-menu__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 45px 40px 40px;
  height: 100%;
}

.mobile-menu__list {
  list-style: none;
  margin-bottom: 90px;
}

.mobile-menu__item {
  list-style-type: none;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.mobile-menu__link {
  font-size: 2.4rem;
  font-weight: 700;
  color: currentColor;
  text-decoration: none;
  text-transform: uppercase;
}

.mobile-menu__btn-close {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
}

.mobile-menu__btn-close:hover {
  cursor: pointer;
}

.mobile-menu__socials {
  max-width: 14rem;
  align-self: center;
}

.mobile-menu-socials__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -2.5rem;
}

.mobile-menu-socials__item {
  margin: 1.5rem;
}

.mobile-menu-socials__link {
  padding: 1rem;
  display: block;
  color: currentColor;
}

.mobile-menu-socials__link:hover {
  color: #d1a954;
}

.mobile-menu-socials__icon {
  width: 4.5rem;
  height: 4.5rem;
}

.about {
  margin-bottom: var(--outer-margin);
}

.about__inner {
  display: flex;
  flex-flow: column nowrap;
}

.about__row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  overflow-y: hidden;
  margin: -1.5rem;
}

.about__push {
  margin-top: auto;
}

.about__title {
  text-transform: uppercase;
  font-size: 2.1rem;
  margin-bottom: 1.9em;
  font-weight: 700;
}

.about__subtitle {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: auto;
}

.about__subtitle:not(:last-child) {
  margin-bottom: .95em;
}

.about__subtitle span {
  color: #d1a954;
}

.about__vector {
  margin-bottom: 15px;
}

.about-col {
  display: flex;
  flex-flow: column nowrap;
  margin: 1.5rem;
}

.about-col_description {
  max-width: 500px;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  line-height: 1.5;
}

.about-col_numb {
  flex-shrink: 0;
}

.about-col_picture {
  max-width: 35rem;
  max-height: 30rem;
}

.about-col__item {
  display: flex;
  flex-flow: column nowrap;
  margin: 15px;
}

.about-col__body_numb {
  padding-top: .5em;
  margin: -15px;
}

.projects {
  margin-bottom: var(--outer-margin);
}

.projects__inner {
  display: flex;
  flex-flow: column nowrap;
}

.projects__slider {
  display: flex;
  justify-content: flex-end;
}

.projects__swiper-slide {
  width: initial;
}

.projects-card {
  display: block;
  position: relative;
}

.projects-card:hover .projects-card__search {
  opacity: 1;
}

.projects-card:hover .projects-card__picture::after {
  background: transparent;
}

.projects-card:hover .projects-card__content {
  opacity: 0;
}

.projects-card__search {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #d1a954;
  border-radius: 50%;
}

.projects-card__icon {
  fill: #fff;
}

.projects-card__picture::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.65);
  transition-property: background-color;
}

.projects-card__content {
  display: flex;
  flex-flow: column;
  position: absolute;
  z-index: 5;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 40px;
}

.projects-card__title,
.projects-card__date {
  position: absolute;
  left: 0;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.projects-card__title {
  font-size: 2.4rem;
}

.projects-card__date {
  bottom: 0;
  font-size: 1.8rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.rating {
  margin-bottom: var(--outer-margin);
}

.rating__inner {
  display: flex;
  padding-top: 126px;
  padding-bottom: 126px;
  background: linear-gradient(rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url("../img/rating-bg.jpg") center/cover no-repeat;
}

.rating__col {
  display: flex;
  flex-flow: column nowrap;
}

.rating__col_year {
  flex: 1 1 40%;
  text-align: center;
}

.rating__col_stars {
  justify-content: center;
  flex: 1.5 1 60%;
  text-align: left;
}

.rating__year {
  font-size: 7.2rem;
  color: #d1a954;
  font-weight: 700;
}

.rating__stars {
  margin-bottom: 2.5rem;
}

.rating__star {
  fill: #d1a954;
}

.rating__star:not(:last-child) {
  margin-right: 2.5rem;
}

.rating__title {
  font-size: 3.6rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  max-width: 500px;
}

.partners {
  margin-bottom: 120px;
  overflow-x: hidden;
}

.partners__inner {
  display: flex;
  flex-flow: column nowrap;
}

.partners__content {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.partners__row {
  justify-content: start;
}

.partners__row:not(:last-child) {
  margin-bottom: 80px;
}

.partners__icons {
  fill: #999;
}

.partners__icons:not(:last-child) {
  margin-right: 78px;
}

.contacts {
  padding-bottom: calc(var(--gutter) + 50px);
}

.contacts__row {
  justify-content: space-between;
}

.contacts__col_info {
  flex: 0 1 auto;
}

.contacts__col_info ul {
  list-style: none;
}

.contacts__col_form {
  flex: 1;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.contacts__list-inner {
  flex-grow: 1;
}

.contacts__item {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
}

.contacts__link {
  color: currentColor;
  text-decoration: none;
}

.form__inner {
  display: flex;
  flex-flow: column nowrap;
}

.form__row {
  flex-grow: 1;
  flex-wrap: nowrap;
}

.form__row_top {
  min-height: 100px;
  margin-bottom: calc(var(--gutter) + 10px);
}

.form__row_top,
.form__row_bottom {
  justify-content: space-between;
}

.form__col_input {
  display: flex;
  justify-content: space-between;
}

.form__col_message {
  flex: 1 1;
}

.form__col-inner {
  justify-content: space-between;
}

.form__input,
.form__message {
  background-color: #444;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-family: 'Open Sans';
  border: 1px solid #616161;
}

.form__input::placeholder,
.form__message::placeholder {
  color: currentColor;
}

.form__input:not(:last-of-type) {
  margin-bottom: var(--gutter);
}

.form__message {
  width: 100%;
  min-height: 10rem;
}

.form__input-wrp:nth-child(odd) {
  margin-right: 3rem;
}

.form__input,
.form__message,
.form__info {
  color: #989898;
}

.form__info {
  font-family: 'Open Sans';
  font-size: 1.2rem;
  text-align: center;
}

.form__btn {
  max-width: 19rem;
  align-self: center;
  border-style: none;
}

.socials__list {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
}

.socials__item {
  text-align: center;
}

.socials__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: all .3s ease;
}

.socials__link:hover {
  color: #d1a954;
}

.hamburger {
  --bar-width: 26px;
  --bar-height: 3px;
  --bar-spacing: 8px;
  position: relative;
  display: inline-block;
  width: var(--bar-width);
  height: calc(var(--bar-height) + (var(--bar-spacing) * 2));
  padding: 10px 8px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.hamburger__box {
  position: absolute;
  top: 0;
  left: 0;
  display: inherit;
}

.hamburger__inner {
  display: inline-block;
  position: relative;
  transform: translateY(var(--bar-spacing));
  width: calc(var(--bar-width) - 6px);
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  display: block;
  height: var(--bar-height);
  background-color: #fff;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: '';
  position: absolute;
}

.hamburger__inner::before {
  width: var(--bar-width);
  bottom: var(--bar-spacing);
}

.hamburger__inner::after {
  width: calc(var(--bar-width) - 12px);
  top: var(--bar-spacing);
}

.btn-close {
  --btn-close-base-size: 16px;
  --btn-close-height: 2px;
  --btn-close-transform: 45deg;
  position: relative;
  display: inline-block;
  padding: 8px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn-close__box {
  position: relative;
  display: inline-block;
  width: var(--btn-close-base-size);
  height: var(--btn-close-base-size);
}

.btn-close__inner {
  top: 50%;
  left: 0;
  transform: rotate(45deg);
}

.btn-close__inner,
.btn-close__inner::before {
  position: absolute;
  width: var(--btn-close-base-size);
  height: var(--btn-close-height);
  background-color: #fff;
}

.btn-close__inner::before {
  content: '';
  left: 0;
  transform: rotate(90deg);
}

.webp .hero {
  background-image: url(../img/hero-background.webp);
}

.webp .hero__img-wrp::after {
  background: linear-gradient(rgba(209, 169, 84, 0.8), rgba(209, 169, 84, 0.8)), url(../img/content/promo.webp);
}

.webp .rating__inner {
  background: linear-gradient(rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url(../img/rating-bg.webp) center/cover no-repeat;
}

@media (min-width: 421px) {
  .form__col-inner {
    width: calc(50% - var(--gutter) / 2);
  }
}

@media (min-width: 577px) {
  .form__col_input {
    margin-right: var(--gutter);
  }

  .form__col-inner {
    max-width: 180px;
  }

  .form__info {
    max-width: 390px;
    text-align: left;
    margin-right: 2rem;
  }
}

@media (min-width: 769px) {
  .hero__inner {
    height: 100vh;
  }

  .mobile-menu {
    display: none;
    content-visibility: auto;
  }
}

@media (min-width: 992px) {
  .projects__slider {
    padding-left: 150px;
  }
}

@media (min-width: 993px) {
  .header__number {
    margin-left: 2rem;
  }

  .rating__container {
    max-width: var(--container-size);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-gutter);
    padding-right: var(--container-gutter);
  }

  .contacts__col_form {
    max-width: 730px;
  }
}

@media (max-width: 992px) {
  .container {
    --container-size: 770px;
  }

  .projects__container {
    max-width: var(--container-size);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-gutter);
    padding-right: var(--container-gutter);
  }

  .rating__inner {
    padding-left: var(--container-gutter);
    padding-right: var(--container-gutter);
  }

  .rating__title {
    font-size: 3.4rem;
  }

  .contacts__row {
    flex-direction: column;
  }

  .contacts__col_info {
    order: 2;
  }

  .contacts__col_form {
    margin-bottom: 80px;
  }

  .contacts__list {
    flex-direction: row;
  }

  .contacts__list-inner_numbers {
    text-align: left;
  }

  .contacts__list-inner_adress {
    text-align: right;
  }
}

@media (max-width: 769px) {
  .socials {
    justify-content: space-between;
  }

  .socials__title,
  .socials__sep {
    display: none;
    content-visibility: auto;
  }
}

@media (max-width: 768px) {
  :root {
    --outer-margin: 90px;
  }

  .container {
    --container-gutter: 40px;
  }

  .title-section {
    margin-bottom: 6rem;
  }

  .header__btn-menu {
    display: inline-block;
  }

  .nav {
    display: none;
  }

  .hero__inner {
    min-height: 800px;
  }

  .fixed-panel {
    transform: translateX(-100%);
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu__inner {
    min-height: 800px;
  }

  .rating__title {
    font-size: 2.9rem;
  }

  .rating__title {
    font-size: 2.5rem;
  }

  .partners {
    margin-bottom: 90px;
  }
}

@media (max-width: 578px) {
  .mobile-menu__inner {
    min-height: 600px;
  }
}

@media (max-width: 576px) {
  :root {
    --outer-margin: 80px;
  }

  .container {
    --container--size: 510px;
    --container-gutter: 33px;
  }

  .hero__inner {
    min-height: 600px;
  }

  .about .about-col__body_numb {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .about__title {
    text-align: center;
  }

  .partners {
    margin-bottom: 80px;
  }

  .contacts__col_form {
    margin-bottom: calc(var(--gutter) + 10px);
  }

  .form__row_top {
    flex-direction: column;
    justify-content: space-between;
  }

  .form__row_bottom {
    flex-direction: column-reverse;
    align-items: center;
  }

  .form__col_input {
    margin-bottom: var(--gutter);
  }

  .form__btn {
    margin-bottom: var(--gutter);
  }
}

@media screen and (max-width: 576px) {
  .about__row {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  :root {
    --gutter: 15px;
  }

  .title-section {
    font-size: 4rem;
  }

  .contacts {
    padding-bottom: calc(var(--gutter) + 10px);
  }
}

@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 4rem;
  }
}

@media (max-width: 460px) {
  .footer__copy,
  .footer__dev {
    text-align: center;
  }

  .rating__inner {
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rating__col {
    align-items: center;
  }

  .rating__year {
    font-size: 5rem;
  }

  .rating__year:last-of-type {
    margin-bottom: 2rem;
  }

  .rating__title {
    text-align: center;
    font-size: 2rem;
  }
}

@media (max-width: 420px) {
  .contacts__list {
    flex-direction: column;
    align-items: center;
  }

  .contacts__list-inner {
    text-align: center;
  }

  .form__col_input {
    flex-direction: column;
  }

  .form__col-inner:not(:last-of-type) {
    margin-bottom: var(--gutter);
  }
}

@media (max-width: 360px) {
  .about__description {
    text-align: justify;
  }
}

@media (max-width: 359px) {
  .about-col__item {
    align-items: center;
  }

  .about-col__body_numb {
    justify-content: center;
  }
}

@media (max-width: 62rem) {
  body {
    background-position: top center;
  }

  .nav {
    margin-bottom: 4rem;
  }

  .hero__col_slide {
    display: none;
  }

  .about-col_picture {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .container {
    margin-left: 150px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .header__inner {
    flex-flow: column nowrap;
  }
}

@media (min-width: 361px) and (max-width: 576px) {
  .about__description {
    text-align: center;
  }
}