.hero {
  position: relative;
  margin-bottom: var(--outer-margin);
  background-image: url('../img/hero-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    @media (min-width: 769px) {
      height: 100vh;
    }

    @media (max-width: 768px) {
      min-height: 800px;
    }
  
    @media (max-width: 576px) {
      min-height: 600px;
    }  

  }

  &__col {
    display: flex;
    flex-flow: column nowrap;
  }

  &__col_text {
    max-width: 54rem;
    margin-right: 2rem;
  }

  &__col_slide {
    max-width: 370px;
    @media (max-width: 62rem) {
      display: none;
    }
  }

  &__title {
    font-size: 6.4rem;
    text-transform: uppercase;
    line-height: 1;

    @media screen and (max-width: 480px) {
      font-size: 4rem;
    }
  }

  &__description {
    font-size: 1.4rem;
    font-family: 'Open Sans';
    margin-bottom: 5rem;
    line-height: 1.5;
    
  }

  &__swiper-container {
    max-width: inherit;
  }

  &__swiper-wrapper {
    margin-bottom: 5.5rem;
  }

  &__swiper-slide {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__img-wrp {
    position: relative;
    align-self: center;
    padding-right: 2rem;
  }
  
  &__img-wrp::after {
    $imgGradient: rgba($clr-secondary, .8);
    content: '';
    display: block;
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: -1;
    width: 350px;
    height: 490px;
    background: linear-gradient($imgGradient, $imgGradient),
      url('../img/content/promo.png');
    background-size: auto;
  }


  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav-btn {
    display: flex;
    align-items: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    color: $clr-light;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__icon-prev {
    margin-right: 2.5rem;
    order: -1;
  }

  &__icon-next {
    margin-left: 2.5rem;
  }
}