.hero {
  &__inner {
    @include row-flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 5.7rem);
  }

  &__col {
    display: flex;
    flex-flow: column nowrap;

    @include size(6);
    @include size-md(12);
  }

  &__col_text {
  
  }

  &__col_img {
   
  }

  &__title {
    font-size: 6.4rem;
  }

  &__description {
    font-size: 1.4rem;
    font-family: 'Open Sans';
  }

  &__swiper-container {
    max-width: 100%;
  }

  &__swiper-wrapper {
    margin-bottom: 5.5rem;
  }

  &__swiper-slide {
    display: flex;
    justify-content: center;
  }

  &__img-wrp {
    position: relative;
    align-self: center;
    padding-right: 2rem;
  }
  
  &__img-wrp::after {
    $imgGradient: rgba($clr-secondary, .8);
    content: '';
    display: block;
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: -1;
    width: 350px;
    height: 490px;
    background: linear-gradient($imgGradient, $imgGradient),
      url('../img/content/promo.png');
    background-size: auto;
  }


  &__nav {
    display: flex;
    justify-content: space-around;
  }

  &__nav-btn {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    color: $clr-light;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__icon-prev {
    margin-right: 2.5rem;
    order: -1;
  }

  &__icon-next {
    margin-left: 2.5rem;
  }
}