.hero {

  &__inner {
    display: flex;
    justify-content: space-between;
   

    @media (min-width: 62rem) {
      height: calc(100vh - 5.7rem);
      align-items: center;
    }
  }

  &__col {
    display: flex;
    flex-flow: column nowrap;
  }

  &__col_text {
    max-width: 540px;
  }

  &__col_slide {
    @media (max-width: 62rem) {
      display: none;
    }
  }

  &__title {
    font-size: 6.4rem;
    white-space: nowrap;
  }

  &__description {
    font-size: 1.4rem;
    font-family: 'Open Sans';
    margin-bottom: 5rem;
    
  }

  &__swiper-container {
    max-width: 370px;
  }

  &__swiper-wrapper {
    margin-bottom: 5.5rem;
  }

  &__swiper-slide {
    display: flex;
    justify-content: center;
  }

  &__img-wrp {
    position: relative;
    align-self: center;
    padding-right: 2rem;
  }
  
  &__img-wrp::after {
    $imgGradient: rgba($clr-secondary, .8);
    content: '';
    display: block;
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: -1;
    width: 350px;
    height: 490px;
    background: linear-gradient($imgGradient, $imgGradient),
      url('../img/content/promo.png');
    background-size: auto;
  }


  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav-btn {
    display: flex;
    align-items: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    color: $clr-light;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__icon-prev {
    margin-right: 2.5rem;
    order: -1;
  }

  &__icon-next {
    margin-left: 2.5rem;
  }
}