.hero
  .container
    section.hero__inner
      .hero__col.hero__col_text
        h1.hero__title Большой театр
        p.hero__description.
          Большо&#769;й теа&#769;тр&nbsp;&mdash; петербургский театр, существовавший в&nbsp;1784&ndash;1886&nbsp;годах, с&nbsp;1886 года&nbsp;&mdash; Петербургская консерватория. Первое постоянное в&nbsp;Санкт-Петербурге, крупнейшее в&nbsp;России и&nbsp;одно из&nbsp;крупнейших театральных зданий в&nbsp;Европе XVIII.
        +btn('Афиша')

     
      .hero__col.hero__col_slide
        .swiper-container.hero__swiper-container
          .swiper-wrapper.hero__swiper-wrapper
            .swiper-slide.hero__swiper-slide
              .hero__img-wrp
                picture
                  source(src="img/content/promo.webp" type="image/webp")
                  img.hero__img(src='img/content/promo.png')
            .swiper-slide.hero__swiper-slide
              .hero__img-wrp
                picture
                  source(src="img/content/promo.webp" type="image/webp")
                  img.hero__img(src='img/content/promo.png')
        .hero__nav
          button.hero__nav-btn.hero__nav-btn_prev Пред
            +icon('arrow-prev','hero__icon-prev')
          button.hero__nav-btn.hero__nav-btn_next След
            +icon('arrow-next','hero__icon-next')