.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 1.8rem;
  background-color: $clr-secondary;
  color: $clr-light;
  padding: 1.5rem 2.6em;
  text-transform: uppercase;
  align-self: flex-start;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.container {
  max-width: var(--container-size);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
}

.svg-clear-off {
  display: none;
}


img {
  max-width: 100%;
}

.content {
  background-color: $clr-primary;

}

.title-section {
  margin-bottom: 10rem;
  text-align: center;
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .1em;

  @media (max-width: 768px) {
    margin-bottom: 6rem;
  }

  &_accent {
    color: $clr-secondary;
  }
}

.trans-opacity {
  transition: opacity .3s ease;
}

.trans-all {
  transition: all .2s ease-in-out;
}

.border {
  border: 1px solid currentColor;
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}