:root {
  --container-size: 1110px;
  --container-gutter: 40px;
  --gutter: 30px;
  --outer-margin: 150px;

  @media (max-width: 768px) {
    --outer-margin: 90px;
  }
  
  @media (max-width: 576px) {
    --outer-margin: 80px;
  }
}


/** colors **/
$clr-primary: #333;
$clr-secondary: #d1a954;
$clr-light: #fff;
$clr-light-gray: #c4c4c4;

$clr-gazprom: #999;

/** sizes **/
$size-text-main: 6.4rem;

$font-primary: 'Open Sans Condensed';
$font-secondary: 'Open Sans';