.number {
  margin-left: auto;
  font-size: 1.6rem;
  color: $clr-light;
  font-weight: 700;
  text-decoration: none;

  border-bottom: .2rem solid $clr-secondary;
  letter-spacing: .05em;
  margin-left: auto;
}