.partners {
  margin-bottom: 120px;
  overflow-x: hidden;

  @media (max-width: 768px) {
    margin-bottom: 90px;
  }

  @media (max-width: 576px) {
    margin-bottom: 80px;
  }

  &__inner {
    display: flex;
    flex-flow: column nowrap;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  &__row {
    justify-content: start;
  }

  &__row:not(:last-child) {
    margin-bottom: 80px;
  }

  &__icons {
    fill: $clr-gazprom;
  }

  &__icons:not(:last-child) {
    margin-right: 78px;
  }
}