.partners
  .container
    section.partners__inner
      h2.title-section #[span.title-section_accent Партнеры] театра
      .partners__row
        +icon('gazprom', 'partners__icons')
        +icon('gazprom', 'partners__icons')
        +icon('gazprom', 'partners__icons')
        +icon('gazprom', 'partners__icons')
        +icon('gazprom', 'partners__icons')
        +icon('gazprom', 'partners__icons')
        +icon('gazprom', 'partners__icons')
        +icon('gazprom', 'partners__icons')