.mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
  padding: 40px 45px 40px 40px;
  background-color: $clr-primary;

  @media (max-width: 768px) {
    display: block;
    min-height: 800px;
  }

  @media (min-width: 769px) {
    display: none;
    content-visibility: auto;
  }

  @media (max-width: 576px) {
    min-height: 600px;
  }
  
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__list {
    list-style: none;
    margin-bottom: 90px;
  }
  
  &__item {
    list-style-type: none;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }

  &__link {
    font-size: 2.4rem;
    font-weight: 700;
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__toggle {
    --bar-width: 26px;
    --bar-height: 3px;
    --bar-spacing: 8px;
    
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
    width: var(--bar-width);
    height: calc(var(--bar-height) + (var(--bar-spacing) * 2));
    &:hover { cursor: pointer; }
  }
}

.mobil-menu .socials {
  max-width: 140px;
}

.mobil-menu .socials__list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mobil-menu .socials__item {
  padding: 22px;
}