.mobile-menu
  .mobile-menu__btn-close
    include ../btn/btn-close/btn-close
  .mobile-menu__inner
    ul.mobile-menu__list
      each title in menu.links
        li.mobile-menu__item: a.mobile-menu__link(href="#")= title
    include ../socials/socials