@import '../../node_modules/normalize.css/normalize.css';
@import 'config/vars';
@import 'utils/mixins';
@import 'config/fonts';
@import 'utils/sprite';

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 62.5%;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  line-height: 1.4;
  text-rendering: optimizeSpeed;
  font-family: $font-primary;
  color: $clr-light;
  background-color: $clr-primary;
  background-image: url('../img/hero-background.png');

  @media (max-width: 62rem) {
    background-position: top center;
  }
}

.wrapper {
  // position: relative;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
@import 'config/global';
@import '../modules/modules';