.mobile-menu {
  --socials-bar: 1.5;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  transform: translateX(-100%);
  background-color: $clr-primary;
  transition: .3s transform ease-in-out;

  // open mobile menu
  &_open {
    transform: translateX(0);
  }

  @media (max-width: 768px) {
    display: block;
  }

  @media (min-width: 769px) {
    display: none;
    content-visibility: auto;
  }
  
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 45px 40px 40px;
    height: 100%;


    @media (max-width: 768px) {
      min-height: 800px;
    }

    @media (max-width: 578px) {
      min-height: 600px;
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 90px;
  }
  
  &__item {
    list-style-type: none;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }

  &__link {
    font-size: 2.4rem;
    font-weight: 700;
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__btn-close {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;

    &:hover { cursor: pointer; }
  }

  &__socials {
    max-width: 14rem;
    align-self: center;
  }
}