extends config/layout

block vars

prepend styles 
  link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")

block hero
  include ../modules/hero/hero

block content
  include ../modules/about/about

prepend scripts
  script(src='https://unpkg.com/swiper/swiper-bundle.min.js')