extends config/layout

block vars
  - const title = 'Большой театр'

prepend styles 
  link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")


block content
  include ../modules/fixed-panel/fixed-panel
  include ../modules/mobile-menu/mobile-menu
  include ../modules/hero/hero
  include ../modules/about/about
  include ../modules/projects/projects
  include ../modules/rating/rating
  include ../modules/partners/partners
  include ../modules/contacts/contacts

prepend scripts
  script(src='https://unpkg.com/swiper/swiper-bundle.min.js')