<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/main.min.css" />
  <title>Большой театр</title>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href="#">Главная</a></li>
            <li class="nav__item"><a class="nav__link" href="#">О театре</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Наши постановки</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Партнеры театра</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Контакты</a></li>
          </ul>
        </nav>
        <div class="number-wrp"><span class="number">+7 495 123-45-67</span></div>
      </header>
      <section class="hero">
        <div class="container">
          <div class="hero__inner">
            <div class="hero__col_text">
              <h1 class="hero__title">Большой театр</h1>
              <p class="hero__description">Большо́й теа́тр — петербургский театр, существовавший в 1784—1886 годах, с
                1886 года — Петербургская консерватория. Первое постоянное в Санкт-Петербурге, крупнейшее в России и
                одно из крупнейших театральных зданий в Европе XVIII.</p>
            </div>
            <div class="hero__col_img">
              <div class="hero__img-wrp">
                <picture>
                  <source src="img/content/promo.webp" type="image/webp" /><img class="hero__img"
                    src="img/content/promo.png" />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>