include ../utils/mixins
block vars

doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    block styles
      link(rel="stylesheet" href="css/main.min.css")
  body
    include ../../../build/img/sprite/sprite.svg

    .wrapper
      //- Header
      include ../../modules/header/header

      main.content
        block content

      //- Footer
      include ../../modules/footer/footer.pug

    block scripts
      script(src='../../node_modules/focus-visible/dist/focus-visible.min.js')
      script(src='js/main.min.js')