block vars

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    block styles
      link(rel="stylesheet", href="css/main.min.css")
  body
    .wrapper

      //- Header
      include ../../modules/header/header.pug

      main.content
        block content

      //- Footer
      include ../../modules/footer/footer.pug

    block scripts
      script(src='main.min.js')