.fixed-panel {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  padding-left: 6.2rem;
  padding-right: 6.2rem;
  padding-bottom: 8.6rem;
  background-color: rgba($clr-primary, .75);
  transition: .5s transform ease;

  & > *:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: $clr-light-gray;
  }

  &__sep {
    display: block;
    display: block;
    height: 8rem;
    width: .3rem;

    background-color: $clr-light;
    content: '';
    background-color: currentColor;
  }

  @media (max-width: 768px) {
    transform: translateX(-100%);
  }

  .socials__item {
    margin: 1.5rem 0;
  }
}