.fixed-panel
  span.fixed-panel__title Контактная информация
  .fixed-panel__sep
  .fixed-panel__socials
    ul.fixed-panel__list
      li.fixed-panel__item
        a.fixed-panel__link(href='#')
          +icon('insta','fixed-panel__icon')
      li.fixed-panel__item
        a.fixed-panel__link(href='#')
          +icon('fb','fixed-panel__icon')
      li.fixed-panel__item
        a.fixed-panel__link(href='#')
          +icon('vk','fixed-panel__icon')
      li.fixed-panel__item
        a.fixed-panel__link(href='#')
          +icon('yt','fixed-panel__icon')