.nav {
  flex-grow: 1;
  max-width: 824px;
  
  @media (max-width: 62rem) {
    margin-bottom: 4rem;
  }

  @media (max-width: 768px) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
   
    list-style: none;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 700;
    color: $clr-light;
    text-decoration: none;
    letter-spacing: .1em;
    white-space: nowrap;
  }
}