.nav {
  @include size-lg(9);
  @include row-flex;

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 6.3rem;
  }
  &__link {
    font-size: 1.8rem;
    font-weight: 700;
    color: $clr-light;
    text-decoration: none;
    letter-spacing: .1em;
  }
}