.rating {
  margin-bottom: var(--outer-margin);
  &__inner {
    display: flex;
    // padding-top: 126px;
    // padding-bottom: 126px;
    background: linear-gradient(rgba(#333, .9), rgba(#333, .9)), url('../img/rating-bg.jpg') center/cover no-repeat;

  }

  &__col {
   
    display: flex;
    flex-flow: column nowrap;
  }

  &__col_year {
    flex: 1 1 40%;
    text-align: center;
  }

  &__col_stars {
    justify-content: center;
    flex: 1.5 1 60%;
    text-align: left;
  }

  &__year {
    font-size: 7.2rem;
    color: $clr-secondary;
    font-weight: 700;
  }

  &__stars {
    margin-bottom: 2.5rem;
  }

  &__star {
    fill: $clr-secondary;
  }

  &__star:not(:last-child) {
    margin-right: 2.5rem;
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;

    @media (max-width: 992px) {
      font-size: 3.4rem;
    }
    @media (max-width: 768px) {
      font-size: 2.9rem;
    }
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 460px) {

    &__inner {
      flex-direction: column;
      align-items: center;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    &__col {
      align-items: center;
    }

    &__year {
      font-size: 5rem;
    }

    &__year:last-of-type {
      margin-bottom: 2rem;
    }

    &__title {
      text-align: center;
      font-size: 2rem;
    }
  }
}