.rating
  .container
    .rating__inner
      .rating__col.rating__col_year
        span.rating__year 2018
        span.rating__year 2019
        span.rating__year 2020

      .rating__col.rating__col_stars
        .rating__stars
          +icon('star','rating__star')
          +icon('star','rating__star')
          +icon('star','rating__star')
          +icon('star','rating__star')
          +icon('star','rating__star')
        .rating__title.
          Лучший театр по мнению театральных критиков Парижа