.socials {
  &__list {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    margin: -1.5rem 0;
  }

  &__item {
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: rgba(#fff, .6);
    transition: all .3s ease;

    &:hover {
      color: $clr-secondary;
    }
  }

  @media (max-width: 769px) {
    justify-content: space-between;
    &__title,
    &__sep {
      display: none;
      content-visibility: auto;
    }
  }
}