.socials
  ul.socials__list
    li.socials__item
      a.socials__link(href='#')
        +icon('insta','socials__icon')
    li.socials__item
      a.socials__link(href='#')
        +icon('fb','socials__icon')
    li.socials__item
      a.socials__link(href='#')
        +icon('vk','socials__icon')
    li.socials__item
      a.socials__link(href='#')
        +icon('yt','socials__icon')