.about {
  margin-bottom: var(--outer-margin);

  @media (max-width: 576px) {
    .about-col__body_numb {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  &__inner {
    display: flex;
    flex-flow: column nowrap;

  }

  &__row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    overflow-y: hidden;
    margin: -1.5rem;

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__push {
    margin-top: auto;
  }

  &__title {
    text-transform: uppercase;
    font-size: 2.1rem;
    margin-bottom: 1.9em;
    font-weight: 700;

    @media (max-width: 576px) {
      text-align: center;
    }
  }

  &__subtitle {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: auto;

    &:not(:last-child) {
      margin-bottom: .95em;
    }

    span {
      color: $clr-secondary;
    }
  }

  &__description {
    @media (min-width: 361px) and (max-width: 576px) {
      text-align: center;
    }

    @media (max-width: 360px) {
      text-align: justify;
    }
  }

}

.about__vector {
  margin-bottom: 15px;
}

.about-col {
  display: flex;
  flex-flow: column nowrap;
  margin: 1.5rem;
}

.about-col_description {
  max-width: 500px;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  line-height: 1.5;
}

.about-col_numb {
  flex-shrink: 0;
}

.about-col_picture {
  max-width: 35rem;
  max-height: 30rem;
  // object-fit: cover;

  @media (max-width: 62rem) {
    display: none;
  }
}

.about-col__item {
  display: flex;
  flex-flow: column nowrap;
  margin: 15px;

  @media (max-width: 359px) {
    align-items: center;
  }
}

.about-col__body_numb {
  padding-top: .5em;
  margin: -15px;

  
  @media (max-width: 359px) {
    justify-content: center;
  }

  // @media (min-width: 360px) and (max-width: 480px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }
}