.header {
  position: absolute;
  left: 0; top: 0; right: 0;
  z-index: 2;
  padding-top: 5rem;

  &__inner {
    display: flex;
    justify-content: space-between;

    @media (min-width: 769px) and (max-width: 992px) {
      flex-flow: column nowrap;
    }
  }

  &__number {
    align-self: center;
    @media (min-width: 993px) {
      margin-left: 2rem;
    }
  }

  &__btn-menu {
    display: none;
    padding: 7px 10px;
    cursor: pointer;

    @media (max-width: 768px) {
      display: inline-block;
    }
  }
}