.header {
  padding-top: 5rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 62rem) {
      flex-flow: column nowrap;
      align-items: center;
    }
  }
}