.footer {
  background-color: $clr-primary;
  
  &__inner {
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #565656;

    @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__copy {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    color: #989898;

    @media (max-width: 460px) {
      text-align: center;
    }
  }

  &__dev {
    @extend .footer__copy;

  }
}