.mobile-menu-socials
  ul.mobile-menu-socials__list
    li.mobile-menu-socials__item
      a.mobile-menu-socials__link(href="#")
        +icon('fb', 'mobile-menu-socials__icon')
    li.mobile-menu-socials__item
      a.mobile-menu-socials__link(href="#")
        +icon('insta', 'mobile-menu-socials__icon')
    li.mobile-menu-socials__item
      a.mobile-menu-socials__link(href="#")
        +icon('yt', 'mobile-menu-socials__icon')
    li.mobile-menu-socials__item
      a.mobile-menu-socials__link(href="#")
        +icon('vk', 'mobile-menu-socials__icon')