.contacts {

  margin-bottom: 80px;
  
  &__row {
   
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__col_info {
    flex-shrink: 0;
    flex-grow: 1;

    & ul {
      list-style: none;
    }

    @media (max-width: 992px) {
      order: 2;
    }
  }

  &__col_form {
    flex-grow: 0;

    @media (max-width: 992px) {
      margin-bottom: 80px;
     }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;

    @media (max-width: 992px) {
      flex-direction: row;
    }
  }

  &__list-inner {
    flex-grow: 1;

    @media (max-width: 992px) {
      &_numbers {
        text-align-last: left;
      }
  
      &_adress {
        text-align: right;
      }
    }
  }


  &__item {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
  }

  &__link {
    color: currentColor;
    text-decoration: none;
  }
}

.form__inner {
  display: flex;
  flex-flow: row wrap;
}

.form__inner {
  display: flex;
  flex-flow: column nowrap;
}

.form__row {
  flex-grow: 1;
  flex-wrap: nowrap;

  &_top {
    min-height: 100px;
    margin-bottom: 40px;
  }

  &_top,
  &_bottom {
    justify-content: space-between;
  }



  @media(max-width: 576px) {
    &_top {
      flex-direction: column;
      justify-content: space-between; 
    }

    &_bottom {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

.form__col_input {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  @media (min-width: 576px) {
    margin-right: var(--gutter);
  }

  @media (max-width: 576px) {
    margin-bottom: var(--gutter);
  }
}

.form__col_message {
  flex: 1 1;

  @media (min-width: 992px) {
    min-width: 310px;
  }
}

.form__col-inner {
  width: calc(100% / 2 - (calc(var(--gutter) / 2)));
  justify-content: space-between;

  @media (min-width: 576px) {
    max-width: 180px;
  }
}

.form__input,
.form__message {
  background-color: #444;
  padding: 10px 15px;
  border-style: none;
  font-size: 1.2rem;
  
  font-family: 'Open Sans';
  border: 1px solid #616161;

  &::placeholder {
    color: currentColor;
  }
}

.form__input {
  &:not(:last-of-type) {
    margin-bottom: var(--gutter);
  }
}

.form__message {
  flex: 1 1;
  min-height: 10rem;
  @media (min-width: 576px) {
    max-width: 310px;
  }

}

.form__input-wrp:nth-child(odd) {
  margin-right: 3rem;
}

.form__input,
.form__message,
.form__info {
  color: #989898;
}

.form__info {
  font-family: 'Open Sans';
  font-size: 1.2rem;
  text-align: center;

  @media (min-width: 576px) {
    max-width: 390px;
    text-align: left;
  }
    
}

.form__btn {
  margin-bottom: var(--gutter);
  align-self: center;
  border-style: none;
}