.contacts {
  padding-bottom: calc(var(--gutter) + 50px);

  @media (max-width: 480px) {
    padding-bottom: calc(var(--gutter) + 10px);
  }

  &__row {
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__col_info {
    flex: 0 1 auto;

    & ul {
      list-style: none;
    }

    @media (max-width: 992px) {
      order: 2;
    }
  }

  &__col_form {
    flex: 1;

    @media (min-width: 993px) {
      max-width: 730px;
    }

    @media (max-width: 992px) {
      margin-bottom: 80px;
    }

    @media (max-width: 576px) {
      margin-bottom: calc(var(--gutter) + 10px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;

    @media (max-width: 992px) {
      flex-direction: row;
    }

    @media (max-width: 420px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list-inner {
    flex-grow: 1;

    @media (max-width: 992px) {
      &_numbers {
        text-align: left;
      }

      &_adress {
        text-align: right;
      }
    }

    @media (max-width: 420px) {
      text-align: center;
    }
  }

  &__item {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
  }

  &__link {
    color: currentColor;
    text-decoration: none;
  }
}

.form__inner {
  display: flex;
  flex-flow: column nowrap;
}

.form__row {
  flex-grow: 1;
  flex-wrap: nowrap;

  &_top {
    min-height: 100px;
    margin-bottom: calc(var(--gutter) + 10px);
  }

  &_top,
  &_bottom {
    justify-content: space-between;
  }

  @media (max-width: 576px) {
    &_top {
      flex-direction: column;
      justify-content: space-between;
    }

    &_bottom {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

.form__col_input {
  display: flex;
  justify-content: space-between;

  @media (max-width: 420px) {
    flex-direction: column;
  }

  @media (min-width: 577px) {
    margin-right: var(--gutter);
  }

  @media (max-width: 576px) {
    margin-bottom: var(--gutter);
  }
}

.form__col_message {
  flex: 1 1;
  overflow-x: hidden;

}

.form__col-inner {
  justify-content: space-between;

  @media (min-width: 421px) {
    width: calc(50% - var(--gutter) / 2);
  }

  @media (max-width: 420px) {
    &:not(:last-of-type) {
      margin-bottom: var(--gutter);
    }
  }

  @media (min-width: 577px) {
    max-width: 180px;
  }
}

.form__input,
.form__message {
  background-color: #444;
  padding: 10px 15px;
  border-style: none;
  font-size: 1.2rem;

  font-family: 'Open Sans';
  border: 1px solid #616161;

  &::placeholder {
    color: currentColor;
  }
}

.form__input {
  &:not(:last-of-type) {
    margin-bottom: var(--gutter);
  }
}

.form__message {
  min-height: 10rem;
}

.form__input-wrp:nth-child(odd) {
  margin-right: 3rem;
}

.form__input,
.form__message,
.form__info {
  color: #989898;
}

.form__info {
  font-family: 'Open Sans';
  font-size: 1.2rem;
  text-align: center;

  @media (min-width: 577px) {
    max-width: 390px;
    text-align: left;
    margin-right: 2rem;
  }
}

.form__btn {
  max-width: 19rem;
  align-self: center;
  border-style: none;

  @media (max-width: 576px) {
    margin-bottom: var(--gutter);
  }
}
