.contacts
  .container
    section.col
      h2.title-section #[span.title-section_accent Стать] миценатом
      .row.contacts__row
        .col.contacts__col_info
          ul.contacts__list
            li.contacts__item.col
              ul.col.contacts__list-inner.contacts__list-inner_numbers
                li.contacts__number
                  a.contacts__link(href='tel:+78121234555') +7 (812) 123-45-55
                li.contacts__number
                  a.contacts__link(href='tel:+78121234566') +7 (812) 123-45-66
            li.contacts__item.col
              ul.col.contacts__list-inner.contacts__list-inner_adress
                li.contacts__adress
                  a.contacts__link(href='mailto:info@theater.ru') info@theater.ru
                li.contacts__adress 
                  a.contacts__link(href='mailto:info@theater.ru')  г. санкт-петербург, невский 140

        .col.contacts__col_form
          form(action="" method='post')
            .form__inner
              .row.form__row.form__row_top
                .form__col.form__col_input
                  .form__col-inner.col
                    input.form__input(type="text" placeholder='Имя')
                    input.form__input(type="text" placeholder='Телефон')
                  .form__col-inner.col
                    input.form__input(type="text" placeholder='Компания')
                    input.form__input(type="email" placeholder='E-mail')
                .col.form__col.form__col_message
                  textarea.form__message(placeholder='Сообщение')
              .row.form__row.form__row_bottom
                p.form__info.
                  * Ваши данные не будут переданы третьим лицам, 100% вероятность. Конфиденциальность мы гарантируем, и защищаем персональные данные согласно законку ФЗ-52.
                button.btn.form__btn(type='button') Отправить
