.hamburger {
  position: relative;
  transform: translateY(var(--bar-spacing));
  width: calc(var(--bar-width) - 6px);

  &,
  &::before,
  &::after {
    display: block;
    height: var(--bar-height);
    background-color: $clr-light;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    width: var(--bar-width);
    bottom: var(--bar-spacing);
  }

  &::after {
    width: calc(var(--bar-width) - 12px);
    top: var(--bar-spacing);
  }
}